

.Boulangerie {
    width: 500px;
    height: auto;
}

.Baguette {
    width: 500px;
    height: auto;
}

.Croissant {
    width: 500px;
    height: auto;
}

.Pain-au-chocolat {
    width: 500px;
    height: auto;
}